/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Custom properties*/

/*Pseudo-classes*/

/*Generics*/
body{
    background-color: rgb(39, 39, 39);
}
h1{
    font-weight: 900;
    color: white;
    text-align: center;
}
ul{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: solid white;
    padding: 20px;
    height: 90vh;
    overflow-y: scroll;
}
ul li{
    list-style-type: none;
    color: yellow;
    font-size: 28px;
    font-weight: 700;
    border: dotted rgb(251, 255, 145) 1px;
    text-align: center;
    width: 150px;
    height: 150px;
    line-height: 500%;
}
/*Utilties*/
.Buzz{
    background-color: rgb(73, 73, 0);
}
.Fizz{
    background-color: rgb(10, 65, 0);
}
.FizzBuzz{
    background-color: rgb(94, 2, 2);
}