/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Custom properties*/

/*Pseudo-classes*/

/*Generics*/
body{
    background-color: rgb(39, 39, 39);
}
h1{
    font-weight: 900;
    color: white;
    text-align: center;
}
ul li{
    list-style-type: none;
    color: yellow;
    font-size: 28px;
    font-weight: 700;
}
/*Utilties*/